<h1>Article Details</h1>
<h4><%= @article.title %></h4>
<p>Content: <%= @article.content %></p>

<%= link_to "Edit", edit_article_path %>

<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
